<%- include("./partial/header.ejs") %>

<div class="error">
    <div class="headd">
        <%- include("./partial/flash.ejs")%>
    </div>
    <div class="gifff" >
        <img src="https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif " style="height: 500px;width: 600px;margin-left: 478px; margin-top: 22px;">
    </div>
    <div class="written" style="margin-top: -81px;text-align: center;">
        <p>looks like you are lost</p>
        <h2>Go back to the main page.</h2>
    </div>
    <a class="btn btn-primary" href="/products" role="button" style="margin-left:740px;margin-top: 30px;">Go back</a>
</div>
        

<%- include("./partial/footer.ejs") %>